.wrapper {
  display: flex;
  gap: 19px;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 16px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

  @media only screen and (min-width: 768px) {
   position: absolute;
   top: 0;
   left: 165px;
   margin: 0;
   padding-top: 16px;
   padding-bottom: 20px;
  }
}

.dark {
  &.wrapper {
    background: #25273d;
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
    color: #5B5E7E;
  }
}
