
.hero {
  width: 375px;
  height: 198px;
  position: absolute;
  z-index: 1;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/bg-mobile-light.jpg);

  @media only screen and (min-width: 768px) {
    width: 100%;
    height: 230px;
    background-image: url(../../images/bg-desktop-light.jpg);
  }
}

.container {
  position: relative;
  z-index: 10;
  max-width: 327px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 72px;

  @media only screen and (min-width: 768px) {
    max-width: 540px;
  }
}

.header {
  display: flex;
  gap: 196px;
  color: white;
  align-items: center;
  padding-top: 48px;
  
  @media only screen and (min-width: 768px) {
  gap: 350px;
  padding-top: 70px;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.65em;

  @media only screen and (min-width: 768px) {
    font-size: 40px;
    letter-spacing: 0.3em;
  }
}

.theme {
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.8244 0.166024C8.14853 0.922784 5.38462 4.17708 5.38462 8.07692C5.38462 12.5377 9.00078 16.1538 13.4615 16.1538C15.766 16.1538 17.8451 15.1887 19.3166 13.6406C17.8608 17.3633 14.2383 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C10.6231 0 11.2328 0.0569837 11.8244 0.166024Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;

  @media only screen and (min-width: 768px) {
    width: 26px;
  height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.3717 0.215831C10.5931 1.19962 7 5.4302 7 10.5C7 16.299 11.701 21 17.5 21C20.4958 21 23.1986 19.7454 25.1116 17.7328C23.2191 22.5722 18.5098 26 13 26C5.8203 26 0 20.1797 0 13C0 5.8203 5.8203 0 13 0C13.81 0 14.6027 0.0740788 15.3717 0.215831Z' fill='white'/%3E%3C/svg%3E");
  }
}

.theme:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.23077 0.769231C9.23077 0.344396 9.57517 0 10 0C10.4248 0 10.7692 0.344396 10.7692 0.769231V3.07692C10.7692 3.50176 10.4248 3.84615 10 3.84615C9.57517 3.84615 9.23077 3.50176 9.23077 3.07692V0.769231ZM13.8462 10C13.8462 12.1242 12.1242 13.8462 10 13.8462C7.87583 13.8462 6.15385 12.1242 6.15385 10C6.15385 7.87583 7.87583 6.15385 10 6.15385C12.1242 6.15385 13.8462 7.87583 13.8462 10ZM10 16.1538C9.57517 16.1538 9.23077 16.4982 9.23077 16.9231V19.2308C9.23077 19.6556 9.57517 20 10 20C10.4248 20 10.7692 19.6556 10.7692 19.2308V16.9231C10.7692 16.4982 10.4248 16.1538 10 16.1538ZM19.2308 9.23077C19.6556 9.23077 20 9.57517 20 10C20 10.4248 19.6556 10.7692 19.2308 10.7692H16.9231C16.4982 10.7692 16.1538 10.4248 16.1538 10C16.1538 9.57517 16.4982 9.23077 16.9231 9.23077H19.2308ZM3.84615 10C3.84615 9.57517 3.50176 9.23077 3.07692 9.23077H0.769231C0.344396 9.23077 0 9.57517 0 10C0 10.4248 0.344396 10.7692 0.769231 10.7692H3.07692C3.50176 10.7692 3.84615 10.4248 3.84615 10ZM15.9832 2.92893C16.2836 2.62853 16.7707 2.62853 17.0711 2.92893C17.3715 3.22934 17.3715 3.71639 17.0711 4.01679L15.4393 5.64857C15.1389 5.94898 14.6518 5.94898 14.3514 5.64857C14.051 5.34817 14.051 4.86112 14.3514 4.56072L15.9832 2.92893ZM5.64857 14.3514C5.34817 14.051 4.86112 14.051 4.56072 14.3514L2.92893 15.9832C2.62853 16.2836 2.62853 16.7707 2.92893 17.0711C3.22934 17.3715 3.71639 17.3715 4.01679 17.0711L5.64857 15.4393C5.94898 15.1389 5.94898 14.6518 5.64857 14.3514ZM17.0711 15.9832C17.3715 16.2836 17.3715 16.7707 17.0711 17.0711C16.7707 17.3715 16.2836 17.3715 15.9832 17.0711L14.3514 15.4393C14.051 15.1389 14.051 14.6518 14.3514 14.3514C14.6518 14.051 15.1389 14.051 15.4393 14.3514L17.0711 15.9832ZM5.64857 5.64857C5.94898 5.34817 5.94898 4.86112 5.64857 4.56072L4.01679 2.92893C3.71639 2.62853 3.22934 2.62853 2.92893 2.92893C2.62853 3.22934 2.62853 3.71639 2.92893 4.01679L4.56072 5.64857C4.86112 5.94898 5.34817 5.94898 5.64857 5.64857Z' fill='white'/%3E%3C/svg%3E");
}

.drag {
  margin-top: 40px;
  margin-bottom: 0;
  color: #9495a5;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.09em;
}

.dark {


  &.wrapper {
    background-color: #171823;
  }
  .hero {
    background-image: url(../../images/bg-mobile-dark.jpg);  
    
    @media only screen and (min-width: 768px) {
    background-image: url(../../images/bg-desktop-dark.jpg);
  }
  }

  .theme:checked{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 1C12 0.447715 12.4477 0 13 0C13.5523 0 14 0.447715 14 1V4C14 4.55228 13.5523 5 13 5C12.4477 5 12 4.55228 12 4V1ZM18 13C18 15.7614 15.7614 18 13 18C10.2386 18 8 15.7614 8 13C8 10.2386 10.2386 8 13 8C15.7614 8 18 10.2386 18 13ZM13 21C12.4477 21 12 21.4477 12 22V25C12 25.5523 12.4477 26 13 26C13.5523 26 14 25.5523 14 25V22C14 21.4477 13.5523 21 13 21ZM25 12C25.5523 12 26 12.4477 26 13C26 13.5523 25.5523 14 25 14H22C21.4477 14 21 13.5523 21 13C21 12.4477 21.4477 12 22 12H25ZM5 13C5 12.4477 4.55228 12 4 12H1C0.447715 12 0 12.4477 0 13C0 13.5523 0.447715 14 1 14H4C4.55228 14 5 13.5523 5 13ZM20.7782 3.80761C21.1687 3.41709 21.8019 3.41709 22.1924 3.80761C22.5829 4.19814 22.5829 4.8313 22.1924 5.22183L20.0711 7.34315C19.6805 7.73367 19.0474 7.73367 18.6569 7.34315C18.2663 6.95262 18.2663 6.31946 18.6569 5.92893L20.7782 3.80761ZM7.34315 18.6569C6.95262 18.2663 6.31946 18.2663 5.92893 18.6569L3.80761 20.7782C3.41709 21.1687 3.41709 21.8019 3.80761 22.1924C4.19814 22.5829 4.8313 22.5829 5.22183 22.1924L7.34315 20.0711C7.73367 19.6805 7.73367 19.0474 7.34315 18.6569ZM22.1924 20.7782C22.5829 21.1687 22.5829 21.8019 22.1924 22.1924C21.8019 22.5829 21.1687 22.5829 20.7782 22.1924L18.6569 20.0711C18.2663 19.6805 18.2663 19.0474 18.6569 18.6569C19.0474 18.2663 19.6805 18.2663 20.0711 18.6569L22.1924 20.7782ZM7.34315 7.34315C7.73367 6.95262 7.73367 6.31946 7.34315 5.92893L5.22183 3.80761C4.8313 3.41709 4.19814 3.41709 3.80761 3.80761C3.41709 4.19814 3.41709 4.8313 3.80761 5.22183L5.92893 7.34315C6.31946 7.73367 6.95262 7.73367 7.34315 7.34315Z' fill='white'/%3E%3C/svg%3E%0A");
  }
  
   

}
