.task-item {
  width: 100%;
  padding: 16px 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e4f1;

  cursor: grab;

  @media only screen and (min-width: 768px) {
    padding: 21px 24px 24px 24px;
    font-size: 18px;
  }
}

.completed {
  &.task-item {
    text-decoration: line-through;
    color: hsla(233, 11%, 84%, 1);
    &.dark {
      color: hsla(233, 14%, 35%, 1);
    }
  }
}

.item-content {
  display: flex;
  align-items: center;
}

.task-complete {
  appearance: none;
  margin-right: 12px;
  border: 1px solid #e3e4f1;
  border-image-slice: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;

  @media only screen and (min-width: 768px) {
    width: 24px;
  height: 24px;
  }
}

.task-complete:hover {
  border: double 1px transparent;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-clip: padding-box, border-box;
  background-origin: border-box;
  background-size: 20px;

  @media only screen and (min-width: 768px) {
    background-size: 24px;
  }
}

.task-complete:focus {
  border: double 1px transparent;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-clip: padding-box, border-box;
  background-origin: border-box;
  background-size: 20px;
  outline: none;

  @media only screen and (min-width: 768px) {
    background-size: 24px;
  }
}

.task-complete:checked {
  border: none;
  background-size: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12' cy='12' r='11.5' fill='white' stroke='%23E3E4F1'/%3E%3Ccircle cx='12' cy='12' r='12' fill='url(%23paint0_linear_0_479)'/%3E%3Cpath d='M8 12.3041L10.6959 15L16.6959 9' stroke='white' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_0_479' x1='-12' y1='12' x2='12' y2='36' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2355DDFF'/%3E%3Cstop offset='1' stop-color='%23C058F3'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");

  @media only screen and (min-width: 768px) {
    background-size: 24px;
  }
}

.btn-delete {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  
  width: 12px;
  height: 12px;
 overflow: hidden;

  @media only screen and (min-width: 768px) {
    position: static;
    width: 18px;
    height: 18px;
  }
}

.svg-delete{
position: absolute;
top: -2.7px;
left: -2.7px;

@media only screen and (min-width: 768px) {
    position: static;
  }
}

.dark {
  &.task-item {
    background-color: #25273d;
    color: #c8cbe7;
    border-bottom: 1px solid #393a4b;
  }

  &.task-complete {
    appearance: none;
    margin-right: 12px;
    border: 1px solid hsla(237, 14%, 26%, 1);
    border-image-slice: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 0;
    @media only screen and (min-width: 768px) {
    
    }
  }
  &.task-complete:hover {
    background-image: linear-gradient(#25273d, #25273d),
      radial-gradient(
        circle at top left,
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
      );
  }
  &.task-complete:focus {
    background-image: linear-gradient(#25273d, #25273d),
      radial-gradient(
        circle at top left,
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
      );
  }
}
