.form-add{
padding-top: 40px;
display: flex;
position: relative;
}

.input-add{
    box-sizing: border-box;
    width: 100%;
    padding: 18px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);

}

.dark{
&.input-add{
    background-color: #25273D;
    color: #767992;
}
&.button-add{
    background-color: #25273D;
    border: 1px solid hsla(237, 14%, 26%, 1);
}
}

.input-add::placeholder{
    color: #9495A5;
    font-size: 12px;
}

.button-add{
    position: absolute;
    left: 90%;
    top: 56px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;

    cursor: pointer;
}